.row{clear:both
font-size:40;}

.column{
    width: 50%;
    float: left;
}
.li{
    font-family:"Comic Sans MS";
    font-size:30px;
color:#FFFFFF;
text-align: center;
}
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-315deg, #045de9 50%, #09c6f9 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(publicity2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
}
.box{
    animation: move 0.5s;
    animation-fill-mode: forwards;
    color: #FFFFFF;
}
@keyframes move {
    0%{
        transform: translate(-100%,0%);
    }
    100%{
        transform: translate(0%,0%);
    }
}
